button {
  border: none;
  background-color: transparent;
}
.button {
  background-color: #172306;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button:hover {
  cursor: pointer;
}
