.div-footer-container {
  background-color: #b9d88e;
  color: #172306;

  padding: 1.6rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.div-footer {
  width: 70%;
  display: flex;
  align-items: baseline;
}

.div-footer p {
  font-size: 1.2rem;
  margin-left: 1rem;
}
.title {
  font-size: 2.4rem !important;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  /* background-color: red; */
}

.div-footer a:hover {
  border: none !important;
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* color: #b9d88e;
background-color: #17230687; */ ;
