.div-nav {
  background-color: #b9d88e;
  color: #172306;
  padding: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0.5rem 0.6rem 2rem #4e5b3d3e;
}

.div-nav-h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.div-nav-h1 a {
  border-bottom: none !important;
}

.div-nav-h1 a:hover {
  border: none !important;
}

a {
  color: #172306;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
a:hover,
a:active,
a.active {
  border-bottom: 2px solid #172306 !important;
}

.div-nav-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 25%;
  font-size: 1.8rem;
  align-items: baseline;
}

.list-sign-up {
  padding: 1rem;
  background-color: #172306;
  color: #b9d88e;
  border-radius: 9px;
}
.list-sign-up a {
  color: #b9d88e;
}

.list-sign-up:hover {
  cursor: pointer;
  background-color: #2e460c;
}

.cart-link::after {
  content: attr(data-count);
  display: inline-block;
  padding: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 0.2rem;
  transform: translateY(50%);
  color: #172306;
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
